.index-outer-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center top;
    min-height:100vh;
    padding-top:80px;
    padding: 150px 2rem 0rem 2rem;
    position: relative;
    background: linear-gradient(195deg, rgb(191, 236, 255) 6%, rgb(255, 255, 255) 30%, rgb(190, 208, 226) 100%);
}

.index-container {
    /* overflow: hidden; */
}

.breaker {
    background-color: rgb(220, 220, 220);
    height:100vh;
}
.index-preview-container {
    /* background-color: black; */
    /* height:100vh; */
    margin-bottom:8rem;
}

.index-header {
    font-size:4rem;
    /* width:65%; */
    line-height: 102%;
    word-spacing: -.5vw;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: rgb(30, 30, 30);

}

.index-subheader {
    font-weight: 400;
    font-size:1rem;
    width:65%;
    line-height:2rem;
}

.index-subheader-brand {
    font-weight:700;
}
.index-buttons {
    display: flex;
    margin-top:3rem;
    position: relative;
}

.index-btn-link {
    padding:1rem 1.25rem;
    display: flex;
    align-items: center;
}

.index-btn {
    border:none;
    font-weight:700;
    font-family: var(--phantom-font);
    background-color: transparent;
    font-weight:700;
    cursor:pointer;
    font-size:1.05rem;
    display: flex;
    align-items: center;
}

.try-gpt-btn {
    position:absolute;
    top:12px;
    left:200px;
    font-size:1rem;
    cursor:pointer;
    transition:0.2s ease;
    font-weight: 500;
    display: inline-block;
}

.try-gpt-btn:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: width .3s;
    margin-top: .5rem;
}

.try-gpt-btn:hover::after {
    width: 100%;
    transition: width .3s;
}
.try-gpt-btn:hover {
    transform: translateY(-2px);
}

.index-search-btn {
    background-color:rgb(75, 183, 241);
    border: none;
    color:black;
    border-radius: 10px;
    padding:1rem 1.25rem;
    cursor:pointer;
    margin-right:1rem;
    display: flex;
    align-items: center;
    transition:0.2s ease-in-out all;
    box-shadow:1px 3px 15px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.index-search-btn:hover {
    transform: translateY(-2px);
    background-color: white;
    /* color:rgb(20, 212, 255); */
}

.index-btn-arrow {
    margin-left:0.5rem;
}

.index-color-change {
    color:rgb(20, 212, 255);
}

.index-chart-container {
    position: absolute;
    top:10%;
    right:500px;
    width: 15%;
}

.index-chart-container img {
    width: 90% !important;
}



@media (max-width: 768px) {
    .index-outer-container {
        padding: 150px 1rem 0rem 1rem;
    }
    .index-chart-container {
        display: none;
    }
    

    .index-header, .index-subheader {
        /* width:80%; */
    }
    .index-header {
        font-size:3rem;
        /* line-height: 8vh; */
    }
    .index-subheader {

    }
}


@media (max-width: 500px) {
    .index-outer-container {
        padding:0rem 0rem;
        padding-top: 150px;
    }

    .index-buttons {
        display: flex;
        align-items: center;
    }

    .index-header, .index-subheader {
        width:100%;
    }
    .index-header {
        font-size:2.5rem;
        /* line-height: 7vh; */
    }
    .index-subheader {
        /* line-height:4vh; */
        font-size: 0.9rem;
    }
    .index-btn {
        font-size:0.9rem;
        padding:0.75rem;
    }
    .index-btn-link {
        padding:0;
        display:block;
    }

    .index-btn:nth-of-type(1) {
        width:100%;
    }

    .index-btn:nth-of-type(2) {
        display: block;
    }

    .index-buttons {
        display: block;
    }

    .try-gpt-btn {
        position: relative;
        top:0;
        left: 0;
        color: white;
    }

    .index-search-btn {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}


/* INDEX PREVIEW */

.index-preview-container {
    display: flex;
    padding:0rem 5rem;
    padding-top: 50px;
}

.index-preview-left, .index-preview-right {
    flex:1;
    justify-content: center;
    /* text-align: center; */
}

.index-preview-right {
    align-items: center !important;
    display: flex;
    padding-left:2rem;

}

.index-preview-supheader {
    font-weight: 900;
    font-size: 1.2rem;
    color:rgb(20, 212, 255);
    margin:0;
}

.index-preview-header {
    font-size:2rem;
    margin-top:0.5rem;
    margin-bottom:4rem;
    letter-spacing: -0.1rem;
}

.index-preview-right-img {
    border-radius:10px;
    width:90%;
}

.index-preview-menu {
    list-style-type: none;
    text-align: left;
    padding:0;
}

.index-preview-link {
    display: flex;
    align-items: center;
    margin-bottom:3rem;
}

.index-preview-dot {
    margin-right:1rem;
    color:rgb(75, 183, 241);
    font-size: 2rem;
}

.index-preview-link-flexer {
    display: block;
}

.index-preview-link-flexer-link {
    font-weight:800;
    margin-bottom:0.5rem;
    font-style:italic;
}

.index-preview-link-flexer-link-2 {
    max-width:400px;
}

@media (max-width: 768px) {
   .index-preview-container {
        display: block;
   }
   .index-preview-right {
    padding-left:0rem;
    }
}

@media (max-width: 500px) {
    .index-preview-container {
         padding:2rem 1rem;
    }

    .index-preview-right-img {
        border-radius:10px;
        width:90%;
    }
 }











/* */


.index-classes-grid {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 10px;
    padding: 0rem 1rem;
}

.index-classes-grid-item {
    border:1px solid rgb(230, 230, 230);
    box-shadow: 1px 1px 8px rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    transition: 0.2s ease all;
    overflow: hidden;

}

.index-classes-grid-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.index-classes-dropdown {
    opacity: 0;
    transition: 0.2s ease all;
    position: absolute;
    /* transform: translateY(0px); */
    top: 200px;
    background-color: pink;
    width: 100%;
    padding: 2rem;
}

.index-classes-grid-item:hover .index-classes-dropdown {
    opacity: 1;
    top: 125px;
    /* transform: translateY(-100px); */
}

.index-classes-grid-item h2 {
    margin: 0;
}


.index-classes-grid-item > div > img {
    width:90px !important;
}



@media (max-width: 500px) {
    .index-classes-grid {
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }

    .index-classes-grid-item {
        padding: 0rem;

    }

    .index-classes-grid-item > div > img {
        width: 50px !important;
    }

}



/* */

.index-why-container {
   overflow: hidden;
}

.index-why-subheader {
    font-weight: 600 !important;
    color: rgb(60,60,60);
    margin-bottom: 2rem !important;
}

.index-data-subheader {
    margin-bottom: 2rem !important;
}

.index-why-grid {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: 75%; */
    padding: 0rem 1rem;
    /* height: 500px; */
}

.index-why-grid canvas {
    /* height: 700px; */
}


.index-why-legend {
    text-align: left;
    /* padding: 1rem; */
    height: 100%;
    /* max-height: 500px; */
    width: 90%;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 8px rgba(200,200,200,0.5);
}

.index-why-grid-container {
    width:60%;
    height: 400px;
    margin: 0 auto;
}

.index-why-legend >  div {
    padding: 1rem;
    width: 100%;
    border-right: 1px solid rgb(250, 250, 250);
    
    height: 100%;
     font-weight: bold;
    color: rgb(30,30,30);
    border-radius: 5px;
}

.index-why-legend > div:first-of-type {
    border-left: 1px solid rgb(250, 250, 250);
}
.index-why-legend >  div > div {
    /* display: flex; */
}

.legend-dot {
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.index-why-legend-item:nth-of-type(1) .legend-dot {
    background-color: rgba(75, 192, 192, 1);
}

.index-why-legend-item:nth-of-type(2) .legend-dot {
    background-color: rgba(153, 102, 255, 1);
}

.index-why-legend-item:nth-of-type(3) .legend-dot {
    background-color: rgba(255, 159, 64, 1);
}

.index-why-legend-item:nth-of-type(4) .legend-dot {
    background-color: rgba(255, 206, 86, 1);
}

.index-why-legend-item:nth-of-type(5) .legend-dot {
    background-color: rgba(0, 206, 86, 1);
}

.legend-item-name {
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
    letter-spacing: -0.05vw;
}

.index-why-return {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.legend-change-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0rem;
    font-weight: 400;
}

.legend-change-container h3 {
    font-weight: 500 !important;
}

.legend-change-container h3:first-of-type {
    color: rgb(30, 30, 30);
}

.legend-change-container h3:nth-of-type(2) {
    color: rgb(76, 195, 76);
}

.index-why-returns {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

.index-why-return h3:nth-of-type(1) {
    font-size: 1rem;
}

.index-why-return h3:nth-of-type(2) {
    font-weight: 400;
    color: rgb(102, 207, 102);
    font-size: 1.25rem;
}

.index-why-legend-item .index-why-return > .red {
    color: rgb(255,0,0);
}

.index-why-legend-item h3 {
    margin: 0;
}

.index-why-legend-item .legend-change-container .red {
    color: red;
}

@media (max-width: 500px) {
    .index-why-grid-container {
        width: 100%;
    }

    .index-why-legend {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        width: 100%;
    }

    .legend-change-container  h3 {
        font-size: 1rem;
    }

}

/* INDEX DATA */

.index-data-container {
    color:rgb(30, 30, 30);
    padding-bottom:4rem;
    text-align: center;
    justify-content: center;
}

.index-data-supheader {
    color:rgb(20, 212, 255);
    font-size:0.9rem;
    margin: 0;
}
.index-data-header {
    font-size:3rem;
    margin: 1rem 0rem;
    letter-spacing: -0.1rem;
}

.index-data-subheader {
    font-size:1rem;
    color:rgb(60, 60, 60);
    font-weight:400;
    margin: 1rem 0rem;
}


.index-data-grid {
    margin-top:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(3,1fr); */
    /* border:1px solid white; */
    padding:2rem;
    border-right:none;
    border-left:none;
    gap: 10px;
}

.index-data-grid-item {
    /* border: 1px solid rgb(50, 50, 50); */
    color: rgb(30, 30, 30);
    width: 85%;
    margin: 0 auto;
    min-height: 200px;
    background: linear-gradient(195deg, rgba(84,206,255,0.3) 6%, rgb(255, 255, 255) 54%, rgba(116, 188, 217,0.3) 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    gap: 10px;
    box-shadow: 1px 1px 8px rgba(200, 200, 200, 0.8);
}

.index-data-grid-item div h2 {
    margin:0;
    margin: 0.5rem 0rem;
}

.index-data-grid-item > h2:nth-of-type(1) {
    color:rgb(183, 230, 255);
}


/* .index-data-grid-item:nth-of-type(1) {
 border:1px solid white;
    border-top:none;
    border-bottom:none;
    border-right:1px solid rgb(200, 200, 200);
}
.index-data-grid-item:nth-of-type(3) {
 border:1px solid white;
    border-top:none;
    border-bottom:none; 
    border-left:1px solid rgb(200, 200, 200);
} */




 @media (max-width: 500px) {
    .index-data-container {
        padding-bottom:0rem;
        padding-bottom: 4rem;
    }
    .index-data-grid-item > h2:nth-of-type(1) {
        font-size:1.5rem;
    }
    .index-data-grid-item > h2 {
        font-size:1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .index-data-grid-item {
        margin: 1rem auto;
    }

    .index-data-grid {
        padding: 0.5rem 1rem;
        display: block;

    }
    .index-data-header {
        font-size:2rem;
    }

    .index-data-subheader {
        width:90%;
        margin:0 auto;
    }
 }
/* INDEX BANNER */

.index-banner-container {
    /* background-color: rgb(0, 0, 0); */
    height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-banner-div-left, .index-banner-div-right {
    flex:1;
}

.index-banner-div-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.index-banner-div {
    width:80%;
    margin:0 auto;
    display: flex;
    /* height:400px; */
    /* background-color: rgb(0, 0, 0); */
    border-radius: 40px;
    /* animation: shadowAnimation 2s infinite alternate;  */
    padding: 2rem 4rem;
    box-shadow: 1px 1px 10px rgba(200, 200, 200, 0.5);
}

/* @keyframes shadowAnimation {
  0% {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: 3px 5px 20px rgba(255, 255, 255, 0.8);

  }
} */


.index-banner-supheader {
    font-weight:300;
    font-size: 1rem;
    margin-top:0;
    display: flex;
    align-items: center;
}

.index-banner-gpt-img {
    margin-left:0.5rem;
}

.index-banner-header {
    font-size: 2.5rem;
    margin:0;
    margin-bottom:1rem;
    letter-spacing: -0.1vw;
}

.index-banner-subheader {
    font-size:0.9rem;
    margin:0;
    margin-bottom:6rem;
    font-weight: 400;
    width:75%;
    line-height: 4vh;
    letter-spacing: -0.02rem;
}

.index-banner-btn {
    background-color: transparent;
    border:none;
    color:rgb(40, 40, 40);
    font-weight: 800;
    word-spacing: 0rem;
    letter-spacing: -.01vw;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out all;
    font-size: 1rem;
}

.index-banner-btn:hover {
    cursor: pointer;
    /* transform: scale(1.02); */
    color:rgb(50, 50, 50);
    word-spacing: 0rem;
    letter-spacing: -.01vw;
}

.index-banner-right-img {
    width: 100%;
    /* height: 100%; */
    transform: none;
    border-radius: 20px;
    margin:0 auto;
}
.index-banner-right-btn {
    display: none;
}
@media (max-width: 900px) {
    .index-banner-div {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .index-banner-div {
        width:90%;
        margin:0 auto;
        display: block;
        /* height:400px; */
        background-color: rgb(255, 255, 255);
        border-radius: 40px;
        /* animation: shadowAnimation 2s infinite alternate;  */
        padding: 2rem;
        box-shadow: 1px 1px 10px rgba(230, 230, 230, 0.8);
    }

    .index-banner-subheader {
        width:90%;
        margin-bottom:2rem;
    }

    .index-banner-btn {
        display: none;
    }

    .index-banner-div-right {
        display: block;
    }

    .index-banner-right-btn {
        display: flex;
        margin: 0 auto;
        font-size: 1.1rem;
        display: none;
        /* background-color:rgb(20, 212, 255); */
    }

    .index-banner-right-img {
        margin-bottom:2rem;
        width: 65%;
        margin: 0rem auto 0rem auto;
        display: flex;
    }
    .index-banner-container {
        height: auto;
        padding: 2rem 0rem;
    }
 }


 @media (max-width: 500px) {

    .index-banner-container {
        height: auto;
        padding: 4rem 0rem;
    }


    .index-banner-div {
        width:90%;
        margin:0 auto;
        display: block;
        /* height:400px; */
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        /* animation: shadowAnimation 2s infinite alternate;  */
        padding:1rem;
        box-shadow: 1px 1px 10px rgba(200, 200, 200, 0.8);
    }

    .index-banner-subheader {
        width:100%;
        margin-bottom:2rem;
    }

    .index-banner-supheader {
        margin-bottom: 1rem;
    }

    .index-banner-header {
        margin-top: 0rem;

    }

    .index-banner-right-img {
        width:-webkit-fill-available;
    }
 }