.news-container {
    padding: 0rem 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.news-grid-item {
    border: 1px solid rgb(200, 200, 200);
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    padding: 10px; /* Padding inside each grid item */
    /* Ensure there's no margin that causes overlap */
    margin: 0;
}

.news-grid-item a {
    transition: 0.2s ease all;
}

.news-grid-item a:hover {
    color: blue;
}

.news-grid-item a h3 {
    margin-bottom: 0rem;
    margin-top: 0;
}

.news-grid-item p {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1rem;
}

.news-grid-item > p {
    font-weight: 700;
    width: 100%;
}

.news-p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .reload-button {
    background-color: transparent;
    color: black;
    border: none;
  }

  .news-company {
    font-weight: 700 !important;
    color: red;
  }