.screener-container {
    min-height: 100vh;
    padding-top:80px;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    /* font-size: 4rem; */
    width: 100%;
    padding: 6rem 2rem 6rem 2rem;
}

.screener-table {
    border-collapse: collapse;
    width:100%;
    background-color: rgba(12, 12, 12, 0.065);
    border-radius: 20px;
    /* overflow: hidden; */
}

.screener-table > tbody > tr {
    font-size: 1rem;
    /* border:1px solid rgb(50, 50, 50); */
    /* padding:1rem 1rem; */
}

.screener-table > tbody > tr td:nth-of-type(3) .top-stock-li {
    width: 100%;
}

.screener-table > tbody > tr td {
    /* padding: 1rem; */
    padding: 0.5rem 0.5rem;
}
.screener-table > tbody > tr:hover {
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}

.screener-table thead {
    margin-bottom: 4rem;
    /* border: 1px solid grey; */
    padding: 1rem;
    text-align: left;
    border:1px solid rgb(74, 174, 255);
    border-top-left-radius: 10px;
    /* border: 1px solid white; */
}

.screener-table thead tr th {
    padding:1rem;
}


.screener-row {
    width: 100%;
    padding: 1rem;
}

.screener-table tbody {
    /* border: 1px solid white; */
    border-radius: 20px !important;
    padding: 1rem 1rem;
    border:1px solid rgb(74, 174, 255);

}

.screener-row td a li {
    display: flex;
    align-items: center;
}

.screener-row td {
    list-style-type: none;
    font-size: 1rem;
    /* border:1px solid rgb(50, 50, 50); */
    padding:0.5rem 0.5rem;
    text-align: left;
    border-top: 0;
}

.screener-row td:first-of-type, .screener-row td:nth-of-type(2) {
    width: 20px;
}

.screener-row td:nth-of-type(2), .screener-row td:nth-of-type(4), .screener-row td:nth-of-type(5), .screener-row td:nth-of-type(6) {
    border-right: 1px solid rgb(60, 60, 60);
}

.screener-row td:nth-of-type(3) {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(245,245,245);
    border-right: 1px solid rgb(60, 60, 60);
}


.screener-row td:first-of-type {
    padding-left: 1rem;
}

.screener-img {
    width: 30px;
    /* border-radius: 20px; */
    /* background-color: white; */
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* border-radius: 50%; */
    /* border: 1px solid white; */
}

.screener-thead > tr > th {
    font-size: 1rem;
    color:rgb(200,200,200);
    border:1px solid rgb(50, 50, 50);
    padding:1rem 1rem;
    text-align: left;
}


.top-stock-country-div {
    /* display: block; */
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Pagination */


.pagination {
    list-style-type: none;
    display: flex;
    /* width: 30%; */
    justify-content: justify-content;
    padding: 0;
    text-align: center;
}

.pagination li {
    background-color: rgb(10, 10, 10);
    color: black;
    border: 1px solid rgb(50, 50, 50);
    width: 50px;
    color: white;
    transition: 0.2s ease all;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.pagination li button {
    background-color: transparent;
    border: none;
    width: 100%;
    padding: 0.4rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.pagination li:hover {
    background-color: rgb(74, 174, 255);
}


.active-pag {
    background-color: rgb(145, 195, 248) !important;
    color: black !important;
}

.active-pag button {
    color: black !important;
}