.search-outer-container {
    /* background-color: rgb(75, 183, 241); */
    border-radius: 20px;
    padding: 2rem 0rem;
    width: 93%;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width:90%;
    /* min-width:700px; */
    /* max-width:700px; */
    background-color: white;
    border-radius: 40px;
    padding: 0.75rem 1rem;
    margin:0 auto;
    /* color:black !important; */
    font-size:1.2rem;
    border: none;
    transition: 0.05s ease-in-out all;
    /* margin-top:4rem; */
    font-family: Montserrat, 'sans-serif';
    /* width: 700px !important; */
    display: flex;
    justify-content: center;
    z-index:99999 !important;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.42);
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgb(255, 255, 255); */
color: rgb(0, 0, 0);
border: 3px solid rgba(100, 100, 100, 0.2);

}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 10px;
    right: 7%;
    z-index: 99999 !important;
    transition: 0.2s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 4rem;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: rgb(75, 183, 241);
    color: black;
}

.search-icon:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(75, 183, 241);
    color: black;
}
.search-input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 300;
}
.stocks-container > div {
    width:100%;
    text-align: center;
}

.search-input:focus {
    outline: none;
    border-radius:10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset 2px 0px 5px 4px rgba(100, 100, 100, 0.1);
    z-index:99999 !important;
    border: 3px solid rgba(100, 100, 100, 0.2);
}

.autosuggest-container{
    /* background-color: var(--brand-color); */
    background-color: white;
    color:black;
    /* border-radius:40px; */
    padding:0rem;
    width: 90% !important;
    margin: 0 auto;
    opacity: 0;
    transition: 0.05s ease-in-out all;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    overflow:hidden;
    position: absolute;
    left:0;
    right: 0;
    z-index: 0 !important;
    box-shadow: inset 2px 0px 5px 4px rgba(100, 100, 100, 0.1);
    z-index: 9999 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: rgb(20, 20, 20);
    border: 1px solid rgb(200, 200, 200);
    border-top: none;
}

.autosuggest-li-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input:focus ~ .autosuggest-container {
    opacity: 1 !important;
    border:none;
    z-index: 9999 !important;

}

.search-input:focus {
        border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px;
    border: 3px solid rgba(100, 100, 100, 0.2);

}

.auto-title {
    font-weight: bold;
}

.autosuggest-menu {
    list-style-type: none;
    display: inline-flex;
    text-align: left;
    width:100%;
    padding-left:0;
    margin:0;
    padding: 1rem 0rem;
    border-bottom:1px solid var(--light-grey);
    transition: 0.05s ease all;
    position: relative;
}

.autosuggest-menu:hover {
    /* background-color: var(--light-grey); */
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
}

.autosuggest-link {
    display: flex;
    /* border-bottom:1px solid black; */
    width:100%;
}
.autosuggest-li {
    margin:0rem 1rem;
}

.autosuggest-container div:last-of-type a .autosuggest-menu {
    border: none;
}
.autosuggest-li-flexer {
    display: block;
}



/* ******* Search Buttons *********** */

.search-buttons-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0.9rem;
}

.search-buttons-container label input[type="radio"] + span {
    background-color: transparent;
    /* border: none; */
    /* border: 1px solid white; */
    border-radius: 20px;
    /* padding: 0.75rem 3rem; */
    transition: 0.2s ease all;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
    background: rgba(85, 85, 85, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.search-buttons-container label:nth-of-type(1) input[type="radio"] + span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: 1px solid rgba(200, 200, 200, 0.4);
}

.search-buttons-container label:nth-of-type(2) input[type="radio"] + span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-buttons-container label input[type="radio"] + span:hover {
    background-color: rgba(101, 101, 101, 0.2);
    /* color: black; */
}

input[type="radio"] {
    display: none;
  }

  input[type="radio"] + span {
    padding: 1rem 4rem;
    width: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
  }

  input[type="radio"]:checked + span {
    background-color: rgba(75, 183, 241, 1) !important;
    width: 100%;
    padding: 1rem 4rem;
    /* border: 1px solid rgba(255, 255, 255, 0.8); */


    color: black; /* Optional: if you want to change text color when checked */
}




/* .autosuggest-li:nth-of-type(1) {
    font-weight:300;
    text-align: left;
    margin:0rem 1rem;
    min-width:60px;
    max-width:60px;
}

.autosuggest-li:nth-of-type(2) {
    margin:0;
}

.autosuggest-li:nth-of-type(3) {
    font-weight:600;
        max-width:50%;
    min-width:50%;
    text-align: left;
} */



.autosuggest-li-flexer {
    /* display: flex; */
    float:right;
    /* justify-content: right; */
    width:inherit;
}

.autosuggest-menu .autosuggest-li-flexer:nth-of-type(3) {
    /* width: 100%; */
    text-align: right;
}

.autosuggest-li-flexer:first-of-type {
    width: 100%;
}

.autosuggest-li-container .autosuggest-li {
    border: 1px solid rgb(255, 255, 255);
    /* background-color: white; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(200, 200, 200);
}

@media (max-width: 800px) {
    .stocks-container > div {
        width:100%;
        padding:0rem 1rem;
    }
    .search-input {

    
    }
    .autosuggest-container{     
        /* background-color: var(--brand-color); */
        /* background-color: white;
        color:black;
        border-radius:40px;
        padding:0rem;
        width: 100%;
        margin: 0 auto; */
        /* opacity: 0; */
        /* transition: 0.05s ease-in-out all;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        overflow:hidden; */
        /* width:65% !important; */
    
    }

    .autosuggest-container {
        /* position: relative; */
    }
}

@media (max-width: 500px) {
    .stocks-container > div {
        width:100%;
        padding:0rem 0rem;
    }
    .search-input {
        width:100%;
        font-size: 1rem;
    }

    .search-icon {
        right:5%;
        padding: 0.5rem 2rem;
    }

    .autosuggest-li {
        /* margin-left: 0.5rem; */
    }

    .autosuggest-li:nth-of-type(1) {
        font-weight:300;
        /* text-align: left; */
        margin:0rem 1rem;
        /* padding-right: 1rem; */
        /* min-width:50px;
        max-width:50px; */
    }
    .autosuggest-link {
        display: flex;
        /* border-bottom:1px solid black; */
        width:100%;
    }

    .autosuggest-li:nth-of-type(1) {
        margin:0;
        /* margin-left:0.5rem; */
        font-size:0.9rem;
        /* margin-bottom: 0.5rem; */
        margin-right: 1rem;
    }
    .autosuggest-menu > .autosuggest-li:nth-of-type(2) {
        display: none;
    }
    .autosuggest-li:nth-of-type(3) {
        margin:0;
        margin-left:0.5rem;
        font-size:0.9rem;
    }

    .autosuggest-li-flexer > .autosuggest-li:nth-of-type(1) {
        /* margin-left:0;
        max-width:45px;
        min-width: 45px; */
    }

    .autosuggest-container {
        /* position: relative; */
        width: 100% !important;
    }
    .autosuggest-li-flexer {
        justify-content: center;
    }

    input[type="radio"] + span {
        padding: 1rem 0.5rem !important;
        display: flex;
        width: 100%;
        font-size: 0.9rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* border: 1px solid rgba(255, 255, 255, 0.8); */
      }
      
      .custom-radio {
        width: 90%;
        height: 100%;
      }
    
      input[type="radio"]:checked + span {
        background-color: rgba(75, 183, 241, 1) !important;
        width: 100%;
        padding: 0rem 0rem;
        /* border: 1px solid rgba(255, 255, 255, 0.8); */
        color: black; /* Optional: if you want to change text color when checked */
    }

    .autosuggest-menu {
        padding: 1rem;
    }

    .autosuggest-li {
        margin: 0;
    }
    
    .search-buttons-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 0rem 0.8rem;
    }
    
    .autosuggest-container {
        background: rgba(255, 255, 255, 1);

    }


}

@media (max-width: 350px) {
    input[type="radio"] + span {
        padding: 1rem 0.2rem !important;
        font-size: 0.9rem;
        width: 100%;
        /* border: 1px solid rgba(255, 255, 255, 0.8); */
      }

}