.stocks-container {
    padding-top:170px;
    display: flex;
    justify-content: center;
    min-height:100vh;
}


.top-stocks-container {
    background-color: #0e0e0e;
    padding: 20px;
    border-radius: 10px;
    margin:0rem 2rem;
    margin-top: 20px;
    /* padding-bottom: 40px; */
    box-shadow: 1px 1px 12px rgba(100, 100, 100, 0.1);
    /* border: 1px solid rgb(50, 50, 50); */
    margin-bottom: 4rem;
    display:grid;
    grid-template-columns: repeat(3,3fr);
    gap: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
  
.top-stocks-title {
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
}

.top-stock-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(20, 212, 255, 0.4);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 10px 20px; */
  transition: 0.2s ease all;
  text-align: center;
  justify-content: center;
  padding: 10px 0px;
  font-weight: bold;
  gap: 10px;

}

.top-stock-menu img {
  background-color: rgb(30, 30, 30);
  padding: 0.2rem;
  border-radius: 50%;
  width: 25px;
}

.top-stock-menu:hover {
  /* background-color: #444444; */
  transform: scale(1.01);
  background-color: rgba(20, 212, 255);
  color: black;

}

.top-stock-li {
  color: black;
  /* margin-right: 10px; */
  list-style-type: none;
  /* text-align: center; */
  display: flex;
  align-items: center;
  transition: 0.2s ease all;
}


.top-stock-link {
  text-decoration: none;
}

/* .top-stock-li:nth-of-type(2) {
  text-align: left;
}

.top-stock-li:last-child {
  margin-right: 0;
} */



@media (max-width: 800px) {
    .top-stocks-container {
      margin:50px 0rem 4rem 0rem;
      padding:10px;
    }
}
  
@media (max-width: 500px) {
    .top-stocks-container {
      /* margin:50px 1rem 4rem 1rem; */
      padding:5px;
    }

    .top-stock-menu {
      padding:10px 6px;
    }

    .top-stocks-container {
      gap: 5px;
      /* margin-left: 0.2rem;
      margin-right: 0.2rem; */
      width: 95%;
      margin: 0 auto;
    }

    .company-logo {
      /* width: 15px; */
    }
}