.stock-ratios-container {
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57); */
}

.stock-ratios-container h2 {
    background-color: rgb(240, 238, 127);
    padding: 1rem;
}
.stock-analytics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:0rem 2rem;
    justify-content: center;
    gap:10px;
}

.stock-analytics-item {
    padding:1rem;
    text-align: center;
    /* display: flex;
    align-items: center; */
    border: 1px solid #dbdbdb;
    /* border-radius:40px; */
    border-radius: 20px;
    position: relative;
}

.stock-analytics-number {
    font-size:2rem;
    margin:0 auto;
    padding:0.2rem 0;
    background-color: rgb(0, 0, 0);
    box-shadow:1px 1px 10px rgba(255, 255, 255, 0.3);
    border:3px solid rgb(50, 50, 50);
    border-radius:40px;
    min-width:75px;  
    color:rgb(75, 183, 241);  
    margin-bottom: 1rem;
}

.stock-analytics-label {
    margin:0;
    padding:0;
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom:1rem;
    /* border-bottom:1px solid rgb(50, 50, 50); */
}

.ratio-chart-div {
    height:200px;
}

.glass .ratio-glass-p {
    font-size: 1.25rem;
}

@media (max-width: 500px) {

    .stock-analytics-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
        padding:0rem 1rem;
    }
    .ratio-chart-div {
        height:100px;
    }

}