h1, h3 {
    margin-top:1.25rem;
    margin-bottom:1.25rem;
}
.stock-img {
    background-color: black;
    padding:0.8rem;
    border-radius:50%;
    margin-right:1rem;
    width:70px;
    border: 3px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.stock-outer-container {
    /* padding-bottom:3rem; */
}
.stock-container {
    padding-top:90px;
    min-height:100vh;
    position: relative;
    padding-bottom:5rem;
    /* padding:90px 2rem 5rem 2rem; */
}

.stock-inside-container {
    padding-left:2rem;
    /* background-color: rgba(255,255,255,0.2); */
    padding: 1rem 1rem 1rem 1rem;
    /* width: 90%; */
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 2rem;
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); */
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 4rem;
}

.stock-name-div {
    /* width: 75%; */
    padding: 1rem 0rem;
}
.stock-name-inner {
    display: flex;
    width: 75%;
}

.stock-name-inner-div:first-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 1rem;
}

.stock-name-inner-div:nth-of-type(2) {
    width: 75%;
}

.stock-company-industry {
    margin: 0 auto;
    font-size:1.2rem;
}

.stock-company-industry-span {
    font-weight:300;
}

.chartContainer {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4rem !important;
}



.stock-name-div {
    display: flex;
    align-items: center;

  }
  
  .stock-scroll {
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out all;
    position: fixed; /* Initially absolute to scroll with the page */
    top: 90px;
    width: 90%;
    z-index: 1000; 
    background-color: rgb(255, 255, 255);
    left: 0%; /* Center horizontally */
    right: 0%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid rgb(75, 183, 241);
    opacity: 1;
  }

  .no-stock-scroll {
    /* display: none; */
    display: flex;
    align-items: center;
    position: fixed; /* Initially absolute to scroll with the page */
    top: 90px;
    width: 90%;
    z-index: 1000; 
    background-color: black;
    left: 0%; /* Center horizontally */
    right: 0%;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 20px;
    border: 1px solid rgb(75, 183, 241);
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.2s ease-in-out all;

  }

  .stock-name-inner-div {
    display: flex;
    align-items: center;
  }



.stock-scroll .stock-company-name, .stock-scroll .stock-company-price, .no-stock-scroll .stock-company-name, .no-stock-scroll .stock-company-price {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    /* align-items: center; */
    align-items: baseline;
}

.stock-scroll .stock-ticker-name, .no-stock-scroll .stock-ticker-name {
    font-size: 1rem;
}

.stock-scroll .stock-img, .no-stock-scroll .stock-img {
    width: 50px;
}

.stock-scroll .stock-usd, .no-stock-scroll .stock-usd {
    font-size: 1rem;
    margin-left: 0.2rem;
}

.stock-ticker-name{
    font-weight:300;
    color:rgb(60, 60, 60);
    margin:0;
}

.ticker-country-div {
    margin-right:2rem;
    width: 10%;
}

.stock-company-name {
    font-size:2.5rem;
    /* margin-right:3rem; */
    /* width: 75%; */
    letter-spacing:-0.1rem;

}

.stock-company-price {
    font-size:2rem;
    font-weight:700;
    color:rgb(30, 30, 30);
    margin-right:1rem;

}


.stock-usd {
    font-size:1.5rem;
    color:rgb(30, 30, 30);
    font-weight:300;
}

.stock-company-percentage {
    font-weight:400;
    font-size:1rem;
    color:lightgreen;
}


.stock-container > div > canvas {
    height:500px;
    /* padding: 0rem 8rem; */
    width:70% !important;
    margin:0 auto;
}

.stock-daily-change, .stock-percent-change {
    margin:0 0.5rem;
}

.stock-daily-change {
    font-size:2rem;
}
.stock-percent-change {
    font-size:2rem;
}
.daily-change-green {
    color:green;
}
.daily-change-red {
    color:rgb(255, 122, 122);
}

.stock-company-price-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: right;
    position: relative;
    width: 30%;
    justify-content: right;
}



@media (max-width: 768px) {

    .stock-container {
        padding:0rem 0rem;
        padding-top:6rem;
        padding-bottom: 2rem;
    }
    .stock-name-div {
        width:100%;
        justify-content: center;
    }
    .stock-company-name {
        font-size:1.5rem;
    }
    /* .stock-img {
        width: 40px;
        padding:0.45rem 0rem;
    } */
    .stock-ticker-name {
        font-size:1rem;
    }

    .stock-company-price {
        font-size:1.2rem;
        color:rgb(30, 30, 30);
    }

    .stock-usd {
        font-size: 1rem;
    }

    .stock-company-industry {
        font-size:1rem;
        margin-bottom:1rem;
    }
    .stock-inside-container {
        padding: 1rem;
    }

    .stock-company-price-div {

        width: 40%;
     
    }
}

@media (max-width: 500px) {

    .chartContainer {
        width: 95%;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(50, 50, 50);
    }

    .stock-name-inner {
        /* display: block;
        padding: 1rem 0rem; */
        display: flex;
        align-items: center;
        width: 100%;
    }

    .stock-company-price-div {
        /* margin-bottom: 1rem; */
        display: none;
    }

    .stock-name-inner-div:nth-of-type(2) {
        width: 100%;
    }
    .stock-container {
    padding-top:5rem;
    min-height:100vh;
    position: relative;
    }
    .stock-company-price {
        font-size:1.5rem;
        color:rgb(30, 30, 30);

    }

    .stock-usd {
        font-size: 1rem;
    }
    .stock-name-div {
        /* display: block;
        text-align: center; */
        gap: 10px;
    }
    .stock-img, .ticker-company-div, .stock-company-name , .ticker-country-div, .stock-company-price {
        margin-right:0 !important;
    }

    .stock-company-name {
        font-size:1.5rem;
        margin: 0rem;
    }
    .stock-company-percentage {
        margin:0.5rem 0 1rem 0;
    }
    .stock-analytics-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-content: center;
        padding:0rem 1rem;
    }
    .stock-chart-container {
            width:100% !important;
    }

    .stock-company-industry {
        /* padding-left:1rem; */
        font-size: 0.9rem;
        /* margin-top:1rem; */
        font-size: 400;
        margin-bottom: 0rem;
    }

    .stock-img {
        width:50px;
    }

    .stock-company-description-bottom > div {
        padding:0rem 0.5rem;
    }

    .company-logo {
    
    }
}