.stock-company-description-div {
    width:90%;
    /* justify-content: center;
    text-align: center; */
    /* border:1px solid rgb(45, 45, 45); */
    padding-top: 5px;
    border-radius: 20px;
    margin:0 auto;
    box-shadow: 1px 4px 20px rgba(255, 255, 255, 0.3);
    background:rgba(230, 230, 230, 0.2);
    border: 1px solid rgb(75, 183, 241);
      
}

.stock-company-description-header {
    text-align: center;
    /* border-bottom:1px solid white;
    padding-bottom:1rem; */
}

.stock-company-description-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    /* color: rgb(241, 75, 155); */
}


.stock-company-description-bottom > div {
    border: 1px solid rgba(75, 183, 241, 0.3);
    padding: 0rem 1rem;
    overflow: hidden;
}

.stock-company-description-bottom > div p > a {
    transition: 0.2s ease all;
}

.stock-company-description-bottom > div p > a:hover {
    color: rgb(75, 183, 241);
}

.stock-company-description-bottom > div > p:nth-of-type(1) {
    font-weight: bold;
    color:rgb(50, 50, 50);
}

.stock-company-description-bottom > div > p:nth-of-type(2) {
    /* font-family:Roboto; */
    font-weight: 500;
    letter-spacing: -0.01vw;
    color: rgb(30, 30, 30);
}

.stock-company-description-bottom > div:last-child {
    /* grid-column: 1 / 3; */
    padding:0rem 2rem;
    /* border-bottom:none; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-column: 1 / span 2; /* This will make the last item span across all 3 columns */

}

.stock-company-description-bottom > div:last-child > p:nth-of-type(2) {
    text-align: left;

}


@media (max-width: 768px) {
    .stock-company-description-div {
        width:90%;
    }
    .stock-company-description-bottom > div:last-child > p:nth-of-type(2) {
        font-size:0.9rem;
    }

    .stock-tabs-container {
        font-size:0.8rem;
    }
}

@media (max-width: 500px) {
    .stock-company-description-div {
        width:95%;
    }
    .stock-company-description-bottom > div:last-child > p:nth-of-type(2) {
        font-size:0.9rem;
    }
    .stock-company-description-bottom > div:last-child {
        padding:0rem 0.5rem;
    }

    .stock-tabs-container {
        font-size:0.8rem;
    }
    .stock-company-description-bottom {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        text-align: left;
    }
    .stock-company-description-bottom > div:last-child {
        /* grid-column: 1 / 3; */
        /* border-bottom:none; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        grid-column: 1 / span 2; /* This will make the last item span across all 3 columns */
    
    }
    
}

@media (max-width: 400px) {

    .stock-company-description-bottom > div:last-child {
        /* grid-column: 1 / 3; */
        /* border-bottom:none; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        grid-column: 1 / span 1; /* This will make the last item span across all 3 columns */
    
    }
    
}