.stock-tabs-container {
    background-color:rgb(0, 0, 0);
    border-top:1px solid rgb(50, 50, 50);
    box-shadow: 1px 1px 25px rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom:0;
    display: flex;
    width:100%;
    color:white;
    /* padding:1rem 0rem; */
    justify-content: space-around;
    height:60px;
    align-items: center;
    z-index:9999 !important;
}

.stock-tab-clicked {
    border-bottom:1px solid white;
}

.stock-tab {
    height:100%;
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    border-right:1px solid rgb(100, 100, 100);
}

.stock-tab-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.stock-tab-input:hover {
    cursor: pointer;
}

.stock-tab-input:hover ~ .stock-tab-label {
    background-color: rgb(35,35,35);

}
.stock-tab-input:checked ~ .stock-tab-label {
    /* border-bottom:1px solid white; */
    background-color: rgb(75, 183, 241);
    color:white;
    box-shadow: inset 1px 1px 10px rgba(0,0,0,0.8);
    font-weight: 700;
}

.stock-tab-label {
    cursor: pointer;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    width:100%;
    text-align: center;
    justify-content: center;
    transition: 0.1s ease-in-out all;
}

@media (max-width: 500px) {
    .stock-tab-label {
        font-size:0.8rem;
    }
}